.input-frame {

}
.input-frame-data {
  border-radius: .25rem !important;
  background-color: #ffffff
}

.input-frame-data {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.text-area-frame {
    width: 100%; 
    height: auto; 
    border: 1px solid #ccc; 
    padding: 8px; 
    font-size: 14px; 
    resize: vertical; 
    outline: none; 
}

