.footer-frame {
    color: black;
}

.btn-footer {
    background-color: #20c9c3 !important;
    border-color: #20c9c3 !important; 
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border-radius: 0;
}