.image-overlay {
  border: 4px solid #000;
  /* margin: 1vh; */
}

.image-frame {
  background-color: #ffffff;
  margin: 2vh;
}

.input-frame {
  /* overflow-y: scroll; */
  background-color: rgb(231, 239, 239);
}

.overlay-text {
    position: absolute;
    top: 10vh;
    left: 10vh; /* Cách bên trái một đoạn vừa đủ (tùy chỉnh theo nhu cầu của bạn) */
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5); /* Đảm bảo phần nền có độ trong suốt */
    padding: 16px; /* Khoảng cách trong */
    color: white;
    transform: translateY(20px); /* Đẩy xuống một chút để có vị trí dễ nhìn hơn */
}

.confirm-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.btn-footer:hover {
  color: #fff;
  background-color: #1ba8a3;
  border-color: #199d98;
}

.btn-footer-modal {
   background-color: #1ba8a3;
  border-color: #199d98;
  color: #000;
  font-size: 15px;
}

.btn-footer-modal:hover {
  color: #fff;
  background-color: #1ba8a3;
  border-color: #199d98;
}

.modal {
  padding: 36px;
}

.model-text-top {
  font-weight: 700 !important;
  text-align: center !important;
  font-size: 14px;
}

.model-text-bottom {
  font-size: 14px;
}



