.image-overlay {
  border: 4px solid #000;
  margin: 1vh;
}

.image-frame {
  background-color: antiquewhite;
}

.input-frame {
  /* overflow-y: scroll; */
  background-color: rgb(231, 239, 239);
}

.input-frame-data {
  border: 1px solid #dee2e6;
  background-color: #ffffff
}

.overlay-text {
    position: absolute;
    top: 10vh;
    left: 10vh; /* Cách bên trái một đoạn vừa đủ (tùy chỉnh theo nhu cầu của bạn) */
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5); /* Đảm bảo phần nền có độ trong suốt */
    padding: 16px; /* Khoảng cách trong */
    color: white;
    transform: translateY(20px); /* Đẩy xuống một chút để có vị trí dễ nhìn hơn */
}



